<app-header></app-header>
<section>
    <mat-chip-listbox aria-label="Fish selection">
        <div class="nav">
            <mat-chip-option (click)="setCategory('Anime')" class="nav_element">Anime</mat-chip-option>
            <mat-chip-option (click)="setCategory('Videogames')" class="nav_element">Videogames</mat-chip-option>
            <mat-chip-option (click)="setCategory('Music')" class="nav_element">Music</mat-chip-option>
            <mat-chip-option (click)="setCategory('Frontend')" class="nav_element">Frontend</mat-chip-option>
            <mat-chip-option (click)="setCategory('Backend')" class="nav_element">Backend</mat-chip-option>
            <mat-chip-option (click)="setCategory('Blockchain')" class="nav_element">Blockchain</mat-chip-option>
        </div>
    </mat-chip-listbox>
</section>
<section>
    <div class="home_picture">
        <img class="picture" src="../../assets/blog.png" alt="blog-picture">
        <div class="home_description">
            <h1 class="title">Welcome to my <span class="blog">blog!</span></h1>
            <p class="title_p">
                This blog is dedicated to various topics that are interesting to me.
            </p>
            <p class="title_continue">Continue reading... or you can write me in <a class="tg" href="https://t.me/maxrattle99">telegram :&#41;</a></p>
        </div>
    </div>
</section>
<section>
    <div class="cards_block">
        @for (post of posts | sortPost:category; track $index;) {
        <mat-card class="card">
            <quill-view class="img" [content]="post.photo"></quill-view>
            <mat-card-content>
                <div class="card_tittle">
                    <h2>{{post.category }}</h2>
                    <h2>{{post.date | date:'MMMM d, y, h:mm'}}</h2>
                </div>
                <h1>
                    <a [routerLink]="['post', post._id]">{{post.title}}</a>
                </h1>
                <quill-view [content]="post.text"></quill-view>
            </mat-card-content>
        </mat-card>
        }
    </div>
</section>
