<section>
    <p>
        <mat-toolbar class="toolbar" color="primary">
            <span class="blog">Blog</span>
            <span class="example-spacer"></span>
            <a [routerLink]="'/'" mat-button class="home">Home</a>
            <a [routerLink]="'/dashboard'" mat-button class="dashboard">Dashboard</a>
            <button
                [routerLink]="'/auth'"
                class="in"
                mat-flat-button
                color="warn"
            >Sign in</button>
            <button
                [routerLink]="'/reg'"
                class="up"
                mat-flat-button
                color="accent"
            >Sign up</button>
        </mat-toolbar>
    </p>
</section>
