<app-header></app-header>
<section>
    <div class="container">
        <h1>Sign in</h1>
        <form (submit)="signIn()" class="forms">
            <form class="form">
                <mat-form-field class="field-full-width">
                    <mat-label>Username</mat-label>
                    <input
                    type="name"
                    matInput
                    [formControl]="nameFormControl"
                    placeholder="Username"
                    [(ngModel)]="name"
                    name = "name">
                    @if (nameFormControl.hasError('required')) {
                      <mat-error>
                          Username is
                          <strong>required</strong>
                      </mat-error>
                    }
                </mat-form-field>
            </form>
            <form class="form">
                <mat-form-field class="field-full-width">
                    <mat-label>Password</mat-label>
                    <input
                    type="password"
                    matInput
                    [formControl]="passwordFormControl"
                    placeholder="Your password"
                    [(ngModel)]="password"
                    name = "password"
                    >
                    @if (passwordFormControl.hasError('required')) {
                      <mat-error>
                          Password is
                          <strong>required</strong>
                      </mat-error>
                      }
                </mat-form-field>
            </form>
            <div class="checkbox">
                <mat-checkbox class="example-margin" color="warn">Remember me</mat-checkbox>
            </div>
            <div class="sign-in">
                <button type="submit" mat-stroked-button color="accent">Sign in</button>
            </div>
        </form>
    </div>
</section>
